<md-list>
  
  <div *ngIf="basket?.length; then results; else noResults"></div>
  
  <ng-template #results>
    <md-list-item *ngFor="let item of basket">
      <md-icon md-list-icon>book</md-icon>
      <h3 md-line [innerHTML]="item.book.Title"></h3>
      <p md-line fxLayout="column">
        <span [innerHTML]="'Nośnik: '+item.carrier.Name"></span>
        <span [innerHTML]="'Ilość: '+item.quantity"></span>
      </p>
    </md-list-item>
  </ng-template>
  
  <ng-template #noResults>
    <md-list-item>
      <md-icon md-list-icon>book</md-icon>
      <h3 md-line>Brak elementów w koszyku</h3>
    </md-list-item>
  </ng-template>

</md-list>