
.app {
  height: 100vh;
}

.container {
  padding: 0 10px;
  margin: 20px auto;
  max-width: 1200px;
}

md-sidenav-container {
  height: calc(100% - 56px);

  @media screen and (min-width: 599px) {
    height: calc(100% - 64px);
  }

  md-sidenav {
    width: 80%;

    @media screen and (min-width: 599px) {
      width: 40vh;
    }
  }
}



