<md-toolbar color="primary">
  
  
  <button md-icon-button fxHide.gt-xs [fxHide.xs]="!searchBar" (click)="toggleSearchbar()"><md-icon>arrow_back</md-icon></button>
  
  <div fxLayout="column" [fxHide.xs]="searchBar">
    <h1>Ksiegarnia Internetowa</h1>
    <p>Nasze sklepy prowadzimy z pasją!</p>
  </div>
  

  <div fxFlex></div>

  <div class="searchContainer" [fxHide.xs]="!searchBar">
    <app-search-engine></app-search-engine>
  </div>

  <div fxFlex></div>
  <button md-icon-button fxHide.gt-xs [fxHide.xs]="searchBar" (click)="toggleSearchbar()"><md-icon>search</md-icon></button>


  <button md-icon-button (click)="toggleSidenav()" fxHide.gt-sm [fxHide.xs]="searchBar">
    <md-icon>shopping_basket</md-icon> <span [innerHTML]="numberOfItemsInBasket"></span>
  </button>
  
  <div fxLayout="row" fxLayoutAlign="center center" fxShow.gt-sm fxHide class="basket">
    <p>Twój koszyk</p>
    <button md-button (click)="toggleSidenav()" [innerHTML]="'Liczba produktów: '+numberOfItemsInBasket"></button>
  </div>
 

</md-toolbar>
