md-toolbar {
  .customToolbar {
    h1 {
      font-size: 20px;
      margin: 0;
    }

    p {
      font-size: 12px;
      margin: 0;
    }

    .basketShop {
      p {
        font-size: 12px;
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
}
