<form [formGroup]="form" (ngSubmit)="addToCart()" novalidate>
  <h2 md-dialog-title>Dodaj do koszyka</h2>
  <md-dialog-content>

   <div fxLayout="column" fxFlex>

     <md-input-container fxFlex="10">
       <input mdInput placeholder="Tytuł" formControlName="title">
     </md-input-container>



     <md-input-container fxFlex="100">
       <input type="text" mdInput [ngStyle]="{'display':'none'}">
       <md-select class="full-width" placeholder="Nośnik" formControlName="carrier">
         <md-option *ngFor="let carrier of carriers" [value]="carrier" [innerHTML]="carrier.Name">
         </md-option>
       </md-select>
       <md-hint>Należy wybrać nośnik</md-hint>
     </md-input-container>


     <md-input-container fxFlex="100">
       <input mdInput type="number" placeholder="Ilość" min="1" max="999" step="1" pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9])$" formControlName="quantity">
       <md-error *ngIf="form.get('quantity').hasError('required')">
         Pole jest wymagane
       </md-error>
       <md-error *ngIf="form.get('quantity').hasError('pattern')">
         Wpisałeś błedną wartość
       </md-error>
       <md-hint>Należy wybrać wartość z przedziału 1-999</md-hint>
     </md-input-container>


   </div>
      
        
 
  
  </md-dialog-content>

  <md-dialog-actions align="end">
    <button md-button md-dialog-close>Anuluj</button>
    <button type="submit" md-button [disabled]="!form.valid">Ok</button>
  </md-dialog-actions>
</form>